PORT=4000
CLIENT_ORIGIN=http://127.0.0.1:5173
JWT_SECRET=local-dev-secret
DATA_PROVIDER=mongo
STORAGE_PROVIDER=local
MONGODB_URI=mongodb+srv://Admin:YOUR_REAL_PASSWORD@cluster0.uepi8ac.mongodb.net/fotos?retryWrites=true&w=majority&appName=Cluster0
